name: "Test"
on:
  pull_request:
    types: [opened,edited,synchronize,reopened]
  push:
    branches:
      - 'main'
jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    steps:
    - uses: actions/checkout@v5
    - uses: cachix/install-nix-action@v31
      with:
        github_access_token: ${{ secrets.GITHUB_TOKEN }}
    - run: nix build -L
    - run: nix flake check -L
